* {
    box-sizing: border-box;
}

@media screen and (orientation: portrait) {
    :root {
        --tile-size: 6vw;
    }
}

@media screen and (orientation: landscape) {
    :root {
        --tile-size: 6vh;
    }
}

@font-face {
    font-family: 'DotGothic16';
    src: url('DotGothic16-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}